*{
    margin: 0px;
    padding: 0px;
}
nav{
  position:fixed;
  color: rgb(212, 120, 15);
  background-color: antiquewhite;
  text-align: center;
}
nav h2{
  margin: 10px 50px;
font-size: 35px;
background: fixed;
  
}

#wild{
  margin: 0px;
}
#middle{
  margin: 200px 0px;
}
h4{
  color: rgb(255, 255, 255);
  position: fixed;
  margin: 230px 490px;
}
button{
  position: fixed;
  margin: 250px 560px;
  background-color: black;
  padding: 10px;
  color: bisque;
}




.container1{
  width: 100%;
  height: 100vh;
  background-image: url(/images/snake.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;

}
.container2{
  width: 100%;
  height: 100vh;
  background-image: url(/images/tiger5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
.container3{
  width: 100%;
  height: 100vh;
  background-image: url(/images/monkey.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
.container4{
  width: 100%;
  height: 100vh;
  background-image: url(/images/p.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
.container5{
  width: 100%;
  height: 100vh;
  background-image: url(/images/owl.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
.container6{
  width: 100%;
  height: 100vh;
  background-image: url(/images/main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;

}
.container7{
  width: 100%;
  height: 100vh;
  background-image: url(/images/white\ tiger.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;

}
h1{
  font-size: 5rem;
  color:rgb(235, 146, 36);
  font-weight: 650;
  font-family: 'Teko',sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 150px 520px;
  position:fixed;
  /* opacity: 0.8; */
}

